{% extends "couse_modules.html" %}
{% load static %}
{% load custom_filters %}
{% block title %} Course Details {% endblock title %}

{% block script %}
<script type="text/javascript" src="{% static 'yaksh/js/course.js' %}"></script>
<script type="text/javascript" src="{% static 'yaksh/js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'yaksh/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'yaksh/js/jquery.tablesorter.min.js' %}">
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'yaksh/css/jquery-ui/jquery-ui.css' %}">
{% endblock %}

<div class="text-center">
{% block pagetitle %} <h1>{{ course.name|title }}</h1> {% endblock %}
</div>

{% block content %}

{% endblock %}